({:title "How Can I Keep From Singing?",
  :timestamp 1597033738826,
  :markdown-rel-path "posts/2020/08/09/2139/How Can I Keep From Singing?.md",
  :extra-resources-rel
  ("posts/2020/08/09/2139/How Can I Keep From Singing.pdf"),
  :id #uuid "7404fa17-075c-4686-b4ba-9ffd42c09931",
  :status :published,
  :filter #{:music :technical :spiritual},
  :src-path "/Users/bphillips/Documents/How Can I Keep From Singing?.md"}
  {:title "A Programmer's Ego",
   :timestamp 1596477922158,
   :markdown-rel-path "posts/2020/08/03/1119/A Programmer's Ego.md",
   :extra-resources-rel (),
   :id #uuid "ab62aa24-f8f2-4fc1-a2ea-20ad7260e753",
   :status :published,
   :filter #{:technical},
   :src-path "/Users/bphillips/Documents/A Programmer's Ego.md"}
  {:title "Hierarchy",
   :timestamp 1595875145359,
   :markdown-rel-path "posts/2020/07/27/1139/Hierarchy.md",
   :extra-resources-rel (),
   :id #uuid "e0f2608b-7852-4060-85e8-061664e0daa3",
   :status :published,
   :filter #{:technical},
   :src-path "/Users/bphillips/Documents/Hierarchy.md"}
  {:title "My Heart's Slowing Down",
   :timestamp 1595824122906,
   :markdown-rel-path "posts/2020/07/26/2132/My Heart's Slowing Down.md",
   :extra-resources-rel ("posts/2020/07/26/2132/My Heart's Slowing Down.mp3"),
   :id #uuid "465fc932-9050-4b33-ae81-60fda510a100",
   :status :published,
   :filter #{:music},
   :src-path "/Users/bphillips/Documents/My Heart's Slowing Down.md"}
  {:title "Client Error Handling: Kinds of Errors",
   :timestamp 1595270515168,
   :markdown-rel-path
   "posts/2020/07/20/1254/Client Error Handling- Kinds of Errors.md",
   :extra-resources-rel (),
   :id #uuid "1e38eb2d-a8ee-4071-8289-04473a9e7eac",
   :status :published,
   :filter #{:technical},
   :src-path
   "/Users/bphillips/Documents/Client Error Handling- Kinds of Errors.md"}
  {:title "The Problem of Technical Society",
   :timestamp 1594664093236,
   :markdown-rel-path
   "posts/2020/07/13/1123/The Problem of Technical Society.md",
   :extra-resources-rel (),
   :id #uuid "c340cf3b-8f6d-405f-906d-916d44cf316e",
   :status :published,
   :filter #{:technical},
   :src-path "/Users/bphillips/Documents/The Problem of Technical Society.md"}
  {:title "Field-Oriented Data",
   :timestamp 1594058610888,
   :markdown-rel-path "posts/2020/07/06/2256/Field-Oriented Data.md",
   :extra-resources-rel (),
   :id #uuid "52837abb-c893-492e-adb4-27fdd8853067",
   :status :published,
   :filter #{:technical},
   :src-path "/Users/bphillips/Documents/Field-Oriented Data.md"}
  {:title "Sample Apps",
   :timestamp 1593455374069,
   :markdown-rel-path "posts/2020/06/29/1154/Sample Projects.md",
   :extra-resources-rel (),
   :id #uuid "e6dad169-0c0d-4bcd-8420-b020fc26aa7a",
   :status :soft-published,
   :filter #{:technical},
   :src-path "/Users/bphillips/Documents/Sample Projects.md"}
  {:title "Tell Them What You're Doing",
   :timestamp 1592934704080,
   :markdown-rel-path "posts/2020/06/26/1240/Tell Them What You're Doing.md",
   :extra-resources-rel (),
   :id #uuid "8cca2299-f97c-421b-ba7d-ad2b6b7b653d",
   :status :published,
   :filter #{:technical},
   :src-path "/Users/bphillips/Documents/Tell Them What You're Doing.md"}
  {:title "Who Wrote Conway's Law?",
   :timestamp 1592243496411,
   :markdown-rel-path "posts/2020/06/15/1233/Who Wrote Conway's Law?.md",
   :extra-resources-rel (),
   :id #uuid "df022c12-c46e-43dc-af38-46b59a09fd99",
   :status :published,
   :filter #{:technical},
   :src-path "/Users/bphillips/Documents/Who Wrote Conway's Law?.md"}
  {:title "My Clojure Vacation",
   :timestamp 1589519847097,
   :markdown-rel-path
   "posts/2020/05/18/2141/My Clojure Vacation.md/My Clojure Vacation.md",
   :extra-resources-rel
   ("posts/2020/05/18/2141/My Clojure Vacation.md/ScreenShot2020-05-03at92816AM.png"),
   :id #uuid "3f2f5d74-945a-4632-b1fb-7e9f2a50622e",
   :status :published,
   :filter #{:technical},
   :src-path "/Users/bphillips/Documents/My Clojure Vacation.md"}
  {:title "Scaring People Is Easy",
   :timestamp 1588141621615,
   :markdown-rel-path
   "posts/2020/05/10/2140/Scaring People Is Easy.md/Scaring People Is Easy.md",
   :extra-resources-rel
   ("posts/2020/05/10/2140/Scaring People Is Easy.md/ScreenShot2020-04-28at41856PM.png"),
   :id #uuid "83377ef7-4216-4742-ab72-cc96124da303",
   :status :published,
   :filter #{:spiritual},
   :src-path "/Users/bphillips/Documents/Scaring People Is Easy.md"}
  {:title "Focus Loops In Perspective",
   :timestamp 1586476531813,
   :markdown-rel-path "posts/2020/04/23/1827/Focus Loops In Perspective.md",
   :extra-resources-rel (),
   :id #uuid "7a575e7c-0f78-4794-86b4-049712f37049",
   :status :published,
   :filter #{:technical},
   :src-path "/Users/bphillips/Documents/Focus Loops In Perspective.md"}
  {:title "Launch Day",
   :timestamp 1587690450297,
   :markdown-rel-path "posts/2020/04/23/1816/Launch Day.md",
   :extra-resources-rel (),
   :id #uuid "1b451a4c-3fea-4bad-958d-784297299dea",
   :status :published,
   :filter #{:meta},
   :src-path "/Users/bphillips/Documents/Launch Day.md"}
  {:title "Staying Sane in the Pandemic",
   :timestamp 1587613781304,
   :markdown-rel-path
   "posts/2020/04/23/1747/Staying Sane in the Pandemic.md/Staying Sane in the Pandemic.md",
   :extra-resources-rel
   ("posts/2020/04/23/1747/Staying Sane in the Pandemic.md/workspaceinlockdown.jpg"),
   :id #uuid "ec3281d1-b53c-4b37-91cb-08a4f0608aee",
   :status :published,
   :filter #{:spiritual},
   :src-path "/Users/bphillips/Documents/Staying Sane in the Pandemic.md"}
  {:title "Easter Lament",
   :timestamp 1587185195366,
   :markdown-rel-path "posts/2020/04/17/2240/Easter Lament.md",
   :extra-resources-rel ("posts/2020/04/17/2240/Easter Lament.mp3"),
   :id #uuid "2974a8bd-9282-42f2-bbe8-bf3042de7fbb",
   :status :published,
   :filter #{:music :spiritual},
   :src-path "/Users/bphillips/Documents/Easter Lament.md"}
  {:title "Basic Test",
   :timestamp 1586899730533,
   :markdown-rel-path "posts/2020/04/14/1558/Basic Test.md",
   :extra-resources-rel (),
   :id #uuid "67b51156-747d-432c-a10e-ff4a908a0b45",
   :status :draft,
   :filter #{},
   :src-path "samples/Basic Test.md"}
  {:title "Initial Conception",
   :timestamp 1586577082502,
   :markdown-rel-path "posts/2020/04/10/0010/Initial Conception.md",
   :extra-resources-rel (),
   :id #uuid "4dc81beb-55ec-46e8-82a5-712f377569ee",
   :status :published,
   :filter #{:meta},
   :src-path "/Users/bphillips/Documents/Initial Conception.md"}
  {:title "Morning Prayer Settings",
   :timestamp 1586486515544,
   :markdown-rel-path "posts/2020/04/09/0041/Morning Prayer Settings.md",
   :extra-resources-rel
   ("posts/2020/04/09/0041/Venite - Full Score.pdf"
     "posts/2020/04/09/0041/Venite.mp3"
     "posts/2020/04/09/0041/Jubilate - Full Score.pdf"
     "posts/2020/04/09/0041/Jubilate.mp3"),
   :id #uuid "23b87584-9f91-46e1-ad00-de0bd3d1457d",
   :status :published,
   :filter #{:music :spiritual},
   :src-path "/Users/bphillips/Documents/Morning Prayer Settings.md"}
  {:title "PDF Link Test",
   :timestamp 1586412570338,
   :markdown-rel-path "posts/2020/04/08/0009/PDF Link Test.md",
   :extra-resources-rel ("posts/2020/04/08/0009/Jubilate - Full Score.pdf"),
   :id #uuid "aee66f62-f6d6-43a2-91fb-3e580689c2e8",
   :status :draft,
   :filter #{},
   :src-path "samples/PDF Link Test.md"}
  {:title "Image Test",
   :timestamp 1586308214903,
   :markdown-rel-path "posts/2020/04/07/0010/Image Test.md/Image Test.md",
   :extra-resources-rel
   ("posts/2020/04/07/0010/Image Test.md/ScreenShot2020-03-30at110216PM.png"
     "posts/2020/04/07/0010/Image Test.md/post-creation-workflow.jpg"),
   :id #uuid "2c33bb72-72b0-481d-840f-096b9b56780a",
   :status :draft,
   :filter #{},
   :src-path "samples/Image Test.md"})
