({:title "My Clojure Vacation",
  :timestamp 1589519847097,
  :markdown-rel-path
  "posts/2020/05/18/2141/My Clojure Vacation.md/My Clojure Vacation.md",
  :extra-resources-rel
  ("posts/2020/05/18/2141/My Clojure Vacation.md/ScreenShot2020-05-03at92816AM.png"),
  :id #uuid "3f2f5d74-945a-4632-b1fb-7e9f2a50622e",
  :status :soft-published,
  :filter #{:technical},
  :src-path "/Users/bphillips/Documents/My Clojure Vacation.md"}
  {:title "Scaring People Is Easy",
   :timestamp 1588141621615,
   :markdown-rel-path
   "posts/2020/05/10/2140/Scaring People Is Easy.md/Scaring People Is Easy.md",
   :extra-resources-rel
   ("posts/2020/05/10/2140/Scaring People Is Easy.md/ScreenShot2020-04-28at41856PM.png"),
   :id #uuid "83377ef7-4216-4742-ab72-cc96124da303",
   :status :published,
   :filter #{:spiritual},
   :src-path "/Users/bphillips/Documents/Scaring People Is Easy.md"}
  {:title "Focus Loops In Perspective",
   :timestamp 1586476531813,
   :markdown-rel-path "posts/2020/04/23/1827/Focus Loops In Perspective.md",
   :extra-resources-rel (),
   :id #uuid "7a575e7c-0f78-4794-86b4-049712f37049",
   :status :published,
   :filter #{:technical},
   :src-path "/Users/bphillips/Documents/Focus Loops In Perspective.md"}
  {:title "Launch Day",
   :timestamp 1587690450297,
   :markdown-rel-path "posts/2020/04/23/1816/Launch Day.md",
   :extra-resources-rel (),
   :id #uuid "1b451a4c-3fea-4bad-958d-784297299dea",
   :status :published,
   :filter #{:meta},
   :src-path "/Users/bphillips/Documents/Launch Day.md"}
  {:title "Staying Sane in the Pandemic",
   :timestamp 1587613781304,
   :markdown-rel-path
   "posts/2020/04/23/1747/Staying Sane in the Pandemic.md/Staying Sane in the Pandemic.md",
   :extra-resources-rel
   ("posts/2020/04/23/1747/Staying Sane in the Pandemic.md/workspaceinlockdown.jpg"),
   :id #uuid "ec3281d1-b53c-4b37-91cb-08a4f0608aee",
   :status :published,
   :filter #{:spiritual},
   :src-path "/Users/bphillips/Documents/Staying Sane in the Pandemic.md"}
  {:title "Easter Lament",
   :timestamp 1587185195366,
   :markdown-rel-path "posts/2020/04/17/2240/Easter Lament.md",
   :extra-resources-rel ("posts/2020/04/17/2240/Easter Lament.mp3"),
   :id #uuid "2974a8bd-9282-42f2-bbe8-bf3042de7fbb",
   :status :published,
   :filter #{:music :spiritual},
   :src-path "/Users/bphillips/Documents/Easter Lament.md"}
  {:title "Basic Test",
   :timestamp 1586899730533,
   :markdown-rel-path "posts/2020/04/14/1558/Basic Test.md",
   :extra-resources-rel (),
   :id #uuid "67b51156-747d-432c-a10e-ff4a908a0b45",
   :status :draft,
   :filter #{},
   :src-path "samples/Basic Test.md"}
  {:title "Initial Conception",
   :timestamp 1586577082502,
   :markdown-rel-path "posts/2020/04/10/0010/Initial Conception.md",
   :extra-resources-rel (),
   :id #uuid "4dc81beb-55ec-46e8-82a5-712f377569ee",
   :status :published,
   :filter #{:meta},
   :src-path "/Users/bphillips/Documents/Initial Conception.md"}
  {:title "Morning Prayer Settings",
   :timestamp 1586486515544,
   :markdown-rel-path "posts/2020/04/09/0041/Morning Prayer Settings.md",
   :extra-resources-rel
   ("posts/2020/04/09/0041/Venite - Full Score.pdf"
     "posts/2020/04/09/0041/Venite.mp3"
     "posts/2020/04/09/0041/Jubilate - Full Score.pdf"
     "posts/2020/04/09/0041/Jubilate.mp3"),
   :id #uuid "23b87584-9f91-46e1-ad00-de0bd3d1457d",
   :status :published,
   :filter #{:music :spiritual},
   :src-path "/Users/bphillips/Documents/Morning Prayer Settings.md"}
  {:title "PDF Link Test",
   :timestamp 1586412570338,
   :markdown-rel-path "posts/2020/04/08/0009/PDF Link Test.md",
   :extra-resources-rel ("posts/2020/04/08/0009/Jubilate - Full Score.pdf"),
   :id #uuid "aee66f62-f6d6-43a2-91fb-3e580689c2e8",
   :status :draft,
   :filter #{},
   :src-path "samples/PDF Link Test.md"}
  {:title "Image Test",
   :timestamp 1586308214903,
   :markdown-rel-path "posts/2020/04/07/0010/Image Test.md/Image Test.md",
   :extra-resources-rel
   ("posts/2020/04/07/0010/Image Test.md/ScreenShot2020-03-30at110216PM.png"
     "posts/2020/04/07/0010/Image Test.md/post-creation-workflow.jpg"),
   :id #uuid "2c33bb72-72b0-481d-840f-096b9b56780a",
   :status :draft,
   :filter #{},
   :src-path "samples/Image Test.md"})
